<div class="">
<div class="row">
  <h1 class="text-center">BOOKS</h1>
</div>
<div class="row">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>Book Id</th>
          <th>Title</th>
          <th>Topic</th>
          <th>Author</th>
          <th>Cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books | searchpipe: searchText | sortBy: sortByKey">
          <td><img src="{{book.imgUrl}}" /></td>
          <td>{{book.bookId}}</td>
          <td>{{book.bookTitle}}</td>
          <td>{{book.topic}}</td>
          <td>{{book.author}}</td>
          <td>{{book.cost}}</td>
          <td><span class="glyphicon glyphicon-trash pull-right" (ngClick)="edit()"></span>
<span class="pull-right glyphicon glyphicon-pencil"></span>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</div>
